# Database configuration
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Keycloak database configuration
KC_DB_URL=
KC_DB_NAME=

# Keycloak server configuration
KC_HOSTNAME=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
KC_HTTP_RELATIVE_PATH=
KC_PORT=

# Application configuration
HTTP_PORT=